.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 25px);
    width: 400px; 
    height: 225px;
    border: 2px solid black;
  }

  .white {
    background-color: white;
  }
  
  .lightred {
    background-color: lightcoral;
  }

  .red {
    background-color: red;
  }