html, body {
    margin: 0;
  }
  .top ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    .top li {
      float: left;
    }
    
    .top li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 10px;
    }
  
    .top li a:hover {
      background-color: #111;
    }
  
    .fa-crown {
      margin-left: 15px ;
      margin-top: 10px;
    }
  
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: white;
      text-align:center;
      font-size: 10px;
      margin-top: 20px;
    }

    .products {
        text-align: center;
        width: 100vw;
    }

    .products ul {
        list-style-type: none;
        width:100%;
        margin-left: 0;
        padding-left: 0;
    }

    .products li {
        display: inline-block;
        width: 20%;
    }

    .products p {
        display: inline-block;
    }

    .products button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button {
      color: gray;
      background-color: white;
      border: 1px solid gainsboro;
      padding: 3px;
    }

    .products h3 {
      font-size: 15px;
    }

    img {
      width: 197.59px;
      height: 204px;
    }

    .div1 {
      position: relative;
    }

    .p1 {
      position: absolute;
      top: 10px; 
      left: 50px;
      width: 30px; 
      height: 30px; 
      border-radius: 50%; 
      background-color: green; 
      color: #ffffff; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 10px;
    }

    .p2 {
      position: absolute;
      top: 10px; 
      right: 50px;
      width: 30px; 
      height: 30px; 
      border-radius: 50%; 
      background-color: red; 
      color: #ffffff; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 10px;
    }
    
    .color {
      color:aquamarine;
      font-size: 15px;
    }

    .small {
      font-size: 10px;
      color:gainsboro;
    }