body {
    background-image: url(woman34501-1.jpg);
    background-size: cover;
}
h2 {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 1);
    cursor: pointer;
}
p {
    color:pink;
}
p {
    color: green;
}
li {
    list-style: none;
    display: inline-block;
}
